/***************
COLOR VARIABLES
***************/
$primary-color: #E45349;
$link-color: $primary-color;

/***************
CONSISTENT SETTINGS
***************/
$padding: 50px; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.

/***************
TYPE SETTINGS
***************/
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');
$sans-serif: 'Gentium Book Basic', serif;

/***************
SIZES
Browser Context (this is needed for the px to em's mixin)
***************/
$browser-context: 16; // Default

/***************
RESPONSIVE BREAKPOINTS
***************/
$breakpoints: (md: 360px);
